.nyhet {
    border: 2px outset;
    border-radius: 10px;
    padding: 10px;
    margin: 25px 30px 0px 150px;
    width: 800px;
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

img {
    width: 800px;
    height: 300px;
    
}


.rubrik {
    color: crimson;
    border: 2px hidden;
    padding: 5px;
    font-size: 210%;
    text-align: center;
    animation-name: anime;
    animation-duration: 3s;
}

@keyframes anime {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

li {
    float: left;
}

ul {
    opacity: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;     
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 99.15px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}


@media screen and (max-width:768px)
{
    .nyhet {
        margin: 0px 0px 30px 0px;
        width: 600px;
    }

       ul {
        margin: 1;
        padding: 1;
    }
    
    
    .rubrik {
        text-align: center;
    }

    img {
        width: 600px;
    }

}


