
.nyhet {
    border: 2px outset;
    border-radius: 10px;
    padding: 10px;
    margin: 25px 30px 0px 150px;
    width: 800px;
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

img {
    width: 800px;
    height: 300px;
    
}


.rubrik {
    color: crimson;
    border: 2px hidden;
    padding: 5px;
    font-size: 210%;
    text-align: center;
}


li {
    float: left;
}

ul {
    opacity: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;     
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 99.3px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}

@media screen and (max-width:500px)
{
    li a {
        padding: 10px 33.5px 30px;
    }

    .nyhet {
        margin: 0px 0px 30px 0px;
        width: 600px;
    }

    img {
        width: 600px;
    }

}


